@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');

a {
  color: inherit;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(35, 176, 255, 0.2) calc(50% - 9px),
    rgba(35, 176, 255, 0.5) 100%
  );
  transition: background-position 120ms ease-in-out 0s,
    padding 120ms ease-in-out 0s;
  background-size: 100% 200%;
  text-decoration: none;
}
/* Style for checkbox and text alignment in one line */
.post-content li {
  /* display: flex; */
  margin-bottom: 10px;
  line-height: normal;
  align-items: center;
}

.post-cover {
  border: 20px solid #23B0FF;
  background: transparent;
  margin: 40px auto;
  padding: 20px;
  display: block;
}

/* Style for note list items */
.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Style for note titles */
.note-title {
  text-decoration: none; /* Remove underline from links */
}

/* Style for note dates */
.note-date {
  color: gray;
}

/* Image Link Shortcode css */
.image-links-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-link {
  flex: 0 0 auto;
}

.image-link a {
  display: inline-block;
}

.image-link img {
  max-width: 100px;
  height: auto;
  border: 0;
}

.rss-link {
  align-items: center;
  justify-self: center;
}

.rss-link img {
  max-width: 100px;
  height: auto;
  border: 0;
}

/* Style for custom checkboxes */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #23B0FF;
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "\2714"; /* Unicode checkmark symbol */
  position: absolute;
  top: -1px;
  left: 4px;
  font-size: 16px;
  color: #23B0FF;
}

.all-tags a {
  color: inherit;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(35, 176, 255, 0.2) calc(50% - 9px),
    rgba(35, 176, 255, 0.5) 100%
  );
  transition: background-position 120ms ease-in-out 0s,
    padding 120ms ease-in-out 0s;
  background-size: 100% 200%;
  text-decoration: none;
}

.all-tags a:hover {
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(35, 176, 255, 0.2) calc(50% - 9px), rgba(35, 176, 255,0.5) 100%);
  background-position: 0px 100%;
}

.search-ul {
  list-style-type: none;
}

.search-ul p {
  margin: 0;
}
.search-ul li {
  padding: 1em 0 1em 0;
}

#search-title.post-title {
  margin-top: 5px;
}
