a {
  color: inherit;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(35, 176, 255, 0.2) calc(50% - 9px),
    rgba(35, 176, 255, 0.5) 100%
  );
  transition: background-position 120ms ease-in-out 0s,
    padding 120ms ease-in-out 0s;
  background-size: 100% 200%;
}

/* Style for note list items */
.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Style for note titles */
.note-title {
  text-decoration: none; /* Remove underline from links */
}

/* Style for note dates */
.note-date {
  color: gray;
}
