<footer class="footer">
    <div class="footer__inner">
      <a href="{{ $.Site.BaseURL }}index.xml" class="rss-link" target="_blank">
        <img src="/img/svgs/rss.svg" alt="rss" height="30px" width="30px"/>
      </a>
      {{ if $.Site.Copyright }}
        <div class="copyright copyright--user">
          <span>{{ $.Site.Copyright | safeHTML }}</span>
      {{ else }}
        <div class="copyright">
          <span>© {{ now.Year }} Rushi Panchariya</span>
      {{ end }}
        <span>:: All rights reserved. 🚀</span>
        </div>
    </div>
  </footer>
  
  {{ $menu := resources.Get "js/menu.js" | js.Build }}
  {{ $prism := resources.Get "js/prism.js" | js.Build }}
  
  {{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}
  
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  
  <!-- Extended footer section-->
  {{ partial "extended_footer.html" . }}